snippet console
  console.log("${1}")
snippet describe
	describe("${1}", () => {
		${2}
	});

snippet context
	context("${1}", () => {
		${2}
	});

snippet it
	it("${1}", () => {
		${2}
	});

snippet before
	beforeEach(() => {
		${1}
	});
