snippet print
	println!(${1})
snippet vec
	vec![]
snippet move
	move || {
		${1}
	}
snippet info
	info!("${1}")
snippet warn
	warn!("${1}")
snippet debug
	warn!("${1}")
snippet error
	error!("${1}")
snippet assert
	assert!(${1})
snippet describe
	describe! ${1} {
		${2}
	}
snippet it
	it "${1}" {
		${2}
	}
snippet before
	before_each {
		${1}
	}
snippet after
	after_each {
		${1}
	}
